fastapi>=0.103.0
uvicorn>=0.23.2
sqlalchemy>=2.0.20
pymysql>=1.1.0
cryptography>=41.0.3
bcrypt>=4.0.1
pydantic>=2.4.2
pydantic-settings>=2.0.3
python-multipart>=0.0.6
PyJWT>=2.8.0
email-validator>=2.0.0
